*.pdf filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.root filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/ filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/very_simple_model_15_epochs_6_layers_128_nodes/ filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/very_simple_model_30_epochs/ filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/very_simple_model_30_epochs_6_layers_128_nodes/ filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/very_simple_model_3_epochs_6_layers/ filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/plots/ filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/very_simple_model_1/ filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/very_simple_model_100_epochs_6_layers_128_nodes/ filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/very_simple_model_15_epochs_6_layers/ filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/very_simple_model_15_epochs_6_layers_64_nodes/ filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/very_simple_model_3_epochs_6_layers_128_nodes/ filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/very_simple_model_3_epochs_6_layers_64_nodes/ filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/very_simple_model_50_epochs_6_layers_128_nodes/ filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_5_layers_128_nodes_100_epochs_sigmoid filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_6_layers_128_nodes_100_epochs filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/output_gen_model_with_pt filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/output_gen_model_z_pos_and_neg_separate_inputs_ele_and_mu filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/plots filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_5_layers_10_nodes_100_epochs_sigmoid_tt_1_hh_0 filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_5_layers_10_nodes_100_epochs_with_pt_and_cos filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_5_layers_10_nodes_100_epochs_with_pt_and_METpt filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_5_layers_10_nodes_100_epochs_z_pos_and_neg_separate_inputs filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_5_layers_10_nodes_100_epochs_z_pos_and_neg_separate_inputs_ele_and_mu filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_5_layers_128_nodes_100_epochs filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_6_layers_10_nodes_150_epochs_sigmoid filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_8_layers_128_nodes_100_epochs filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_3_layers_32_nodes_500_epochs_sigmoid filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_4_layers_10_nodes_150_epochs_sigmoid filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_4_layers_128_nodes_500_epochs filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/output_gen_model_with_z_pos_and_pt filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/output_gen_model_z_pos_and_neg_separate_inputs filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_5_layers_10_nodes_5_epochs_sigmoid_tt_1_hh_0 filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_5_layers_32_nodes_100_epochs_sigmoid filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_4_layers_128_nodes_100_epochs filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_4_layers_128_nodes_10_epochs filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_5_layers_10_nodes_100_epochs_with_z_pos_and_charge_information filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_5_layers_10_nodes_100_epochs_with_z_pos_not_shuffled filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/very_simple_model filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_5_layers_10_nodes_100_epochs_with_pt filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_5_layers_10_nodes_100_epochs_with_pt_and_METpt_standardized filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_5_layers_10_nodes_200_epochs_sigmoid filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_5_layers_10_nodes_3_epochs_sigmoid_roc filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_6_layers_32_nodes_100_epochs_sigmoid filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_3_layers_10_nodes_100_epochs_sigmoid filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_4_layers_128_nodes_50_epochs filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_5_layers_10_nodes_100_epochs_tt_1_hh_0_with_z_pos filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_6_layers_32_nodes_200_epochs_sigmoid filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/hist_proof_of_concept_model filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/output_gen_model_with_z_pos filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/output_gen_model_with_z_pos_charge_information filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/output_proof_of_concept_model filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_5_layers_10_nodes_100_epochs_z_pos_and_neg_separate_inputs_only_mu filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_5_layers_10_nodes_10_epochs_sigmoid_roc filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_5_layers_10_nodes_150_epochs_sigmoid_roc filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/output_gen_model_with_pt_and_METpt filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_3_layers_32_nodes_100_epochs_sigmoid filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_5_layers_10_nodes_100_epochs_with_z_pos filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_5_layers_10_nodes_70_epochs_sigmoid_tt_1_hh_0 filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/output_gen_model_with_pt_and_cos filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/output_gen_model_with_z_pos_not_shuffled filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/output_gen_model_z_pos_and_neg_separate_inputs_only_mu filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_5_layers_10_nodes_100_epochs_with_z_pos_and_pt filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/gen_model_5_layers_10_nodes_150_epochs_sigmoid filter=lfs diff=lfs merge=lfs -text
hbt/ml/dnn_models/output_gen_model filter=lfs diff=lfs merge=lfs -text
